<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top" class="bg-gray-100">

    <header class="bg-primary py-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="https://betagouv.github.io/itou-theme/" class="lead text-white mb-0 text-decoration-none">Itou Theme</a>
          </div>
        </div>
      </div>
    </header>

    <main class="s-main" role="main">

      <br>
      <br>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>Header <code>.s-header</code></h3>
          </div>
        </div>
      </div>
      <%- include('_sections/header') %>

      <br>
      <br>
      <div class="container">
        <div class="row" id="footer">
          <div class="col-12">
            <h3>Footer <code>.s-footer</code></h3>
          </div>
        </div>
      </div>
      <%- include('_sections/footer') %>

      <br>
      <br>
      <div class="container">
        <div class="row" id="footer">
          <div class="col-12">
            <h3>Prefooter + Footer <code>.s-prefooter + .s-footer</code></h3>
          </div>
        </div>
      </div>
      <%- include('_sections/prefooter', {currentPrefooterBaseline: 'aux emplois', currentPrefooterLogo: 'logo-emploi-inclusion.svg', modifier: 's-prefooter--emploi'} ) %>
      <%- include('_sections/footer') %>

      <br>
      <br>

      <%- include('_sections/prefooter', {currentPrefooterBaseline: 'à la communauté', currentPrefooterLogo: 'logo-communaute-inclusion.svg', modifier: 's-prefooter--communaute'}) %>
      <%- include('_sections/footer') %>

      <br>
      <br>

      <%- include('_sections/prefooter', {currentPrefooterBaseline: 'au pilotage', currentPrefooterLogo: 'logo-pilotage-inclusion.svg', modifier: 's-prefooter--pilotage'}) %>
      <%- include('_sections/footer') %>

      <br>
      <br>

      <%- include('_sections/prefooter', {currentPrefooterBaseline: 'au marché', currentPrefooterLogo: 'logo-marche-inclusion.svg', modifier: 's-prefooter--marche'}) %>
      <%- include('_sections/footer') %>



    </main>

    <script src="javascripts/app.js" defer></script>
  </body>

</html>
